:root {
  --ref-color-common-0: #ffffff;
  --ref-color-common-100: #000000;
  --ref-color-cool_neutral-0: var(--ref-color-common-0);
  --ref-color-cool_neutral-5: #f8f9fa;
  --ref-color-cool_neutral-10: #f1f3f5;
  --ref-color-cool_neutral-20: #e9ecef;
  --ref-color-cool_neutral-30: #dee2e6;
  --ref-color-cool_neutral-40: #ced4da;
  --ref-color-cool_neutral-50: #adb5bd;
  --ref-color-cool_neutral-60: #868e96;
  --ref-color-cool_neutral-70: #495057;
  --ref-color-cool_neutral-80: #343a40;
  --ref-color-cool_neutral-90: #212529;
  --ref-color-cool_neutral-100: var(--ref-color-common-100);
  --ref-color-red-0: var(--ref-color-common-0);
  --ref-color-red-5: #fff5f5;
  --ref-color-red-10: #ffe3e3;
  --ref-color-red-20: #ffc9c9;
  --ref-color-red-30: #ffa8a8;
  --ref-color-red-40: #ff8787;
  --ref-color-red-50: #ff6b6b;
  --ref-color-red-60: #fa5252;
  --ref-color-red-70: #f03e3e;
  --ref-color-red-80: #e03131;
  --ref-color-red-90: #c92a2a;
  --ref-color-red-100: var(--ref-color-common-100);
  --ref-color-yellow-0: var(--ref-color-common-0);
  --ref-color-yellow-5: #fff9db;
  --ref-color-yellow-10: #fff3bf;
  --ref-color-yellow-20: #ffec99;
  --ref-color-yellow-30: #ffe066;
  --ref-color-yellow-40: #ffd43b;
  --ref-color-yellow-50: #fcc419;
  --ref-color-yellow-60: #fab005;
  --ref-color-yellow-70: #f59f00;
  --ref-color-yellow-80: #f08c00;
  --ref-color-yellow-90: #e67700;
  --ref-color-yellow-100: var(--ref-color-common-100);
  --ref-color-green-0: var(--ref-color-common-0);
  --ref-color-green-5: #ebfbee;
  --ref-color-green-10: #d3f9d8;
  --ref-color-green-20: #b2f2bb;
  --ref-color-green-30: #8ce99a;
  --ref-color-green-40: #69db7c;
  --ref-color-green-50: #51cf66;
  --ref-color-green-60: #40c057;
  --ref-color-green-70: #37b24d;
  --ref-color-green-80: #2f9e44;
  --ref-color-green-90: #2b8a3e;
  --ref-color-green-100: var(--ref-color-common-100);
  --ref-color-blue-0: var(--ref-color-common-0);
  --ref-color-blue-5: #e7f5ff;
  --ref-color-blue-10: #d0ebff;
  --ref-color-blue-20: #a5d8ff;
  --ref-color-blue-30: #74c0fc;
  --ref-color-blue-40: #4dabf7;
  --ref-color-blue-50: #339af0;
  --ref-color-blue-60: #228be6;
  --ref-color-blue-70: #1c7ed6;
  --ref-color-blue-80: #1971c2;
  --ref-color-blue-90: #1864ab;
  --ref-color-blue-100: var(--ref-color-common-100);
  --ref-color-primary-0: var(--ref-color-common-0);
  --ref-color-primary-5: #eee7f9;
  --ref-color-primary-10: #d4c3ef;
  --ref-color-primary-20: #b89be6;
  --ref-color-primary-30: #9b71dc;
  --ref-color-primary-40: #8550d4;
  --ref-color-primary-50: #6e2fcc;
  --ref-color-primary-60: #642ac6;
  --ref-color-primary-70: #5521bd;
  --ref-color-primary-80: #471ab6;
  --ref-color-primary-90: #2d08ab;
  --ref-color-primary-100: var(--ref-color-common-100);
  --ref-color-secondary-0: var(--ref-color-common-0);
  --ref-color-secondary-5: #e8faf2;
  --ref-color-secondary-10: #c7f2df;
  --ref-color-secondary-20: #a2eacb;
  --ref-color-secondary-30: #76e2b6;
  --ref-color-secondary-40: #4edaa4;
  --ref-color-secondary-50: #09d392;
  --ref-color-secondary-60: #00c286;
  --ref-color-secondary-70: #00ae77;
  --ref-color-secondary-80: #009d6a;
  --ref-color-secondary-90: #007c52;
  --ref-color-secondary-100: var(--ref-color-common-100);
  --ref-typo-font-weight-bold: Bold;
  --ref-typo-font-weight-medium: Medium;
  --ref-typo-font-weight-regular: Regular;
  --ref-typo-font-Pretendard: Pretendard;
  --ref-typo-letter-spacing-0: 0rem;
  --ref-typo-letter-spacing-1: 0.062rem;
  --ref-number-0: 0rem;
  --ref-number-1: 0.062rem;
  --ref-number-2: 0.125rem;
  --ref-number-3: 0.25rem;
  --ref-number-4: 0.375rem;
  --ref-number-5: 0.5rem;
  --ref-number-6: 0.625rem;
  --ref-number-7: 0.75rem;
  --ref-number-8: 0.875rem;
  --ref-number-9: 1rem;
  --ref-number-10: 1.125rem;
  --ref-number-11: 1.25rem;
  --ref-number-12: 1.5rem;
  --ref-number-13: 1.75rem;
  --ref-number-14: 2rem;
  --ref-number-15: 2.25rem;
  --ref-number-16: 2.5rem;
  --ref-number-17: 2.75rem;
  --ref-number-18: 3rem;
  --ref-number-19: 3.5rem;
  --ref-number-20: 4rem;
  --ref-number-21: 4.5rem;
  --ref-number-22: 5rem;
  --ref-number-23: 6rem;
  --ref-number-max: 62.5rem;
  --systeme-color-background-basic: var(--ref-color-cool_neutral-20);
  --systeme-color-background-lighter: var(--ref-color-cool_neutral-5);
  --systeme-color-background-light: var(--ref-color-cool_neutral-10);
  --systeme-color-background-dark: var(--ref-color-cool_neutral-70);
  --systeme-color-background-darker: var(--ref-color-cool_neutral-80);
  --systeme-color-background-inverse: var(--ref-color-common-100);
  --systeme-color-background-primary-basic: var(--ref-color-primary-70);
  --systeme-color-background-primary-light: var(--ref-color-primary-50);
  --systeme-color-background-primary-lighter: var(--ref-color-primary-30);
  --systeme-color-background-primary-darker: var(--ref-color-primary-90);
  --systeme-color-background-primary-dark: var(--ref-color-primary-80);
  --systeme-color-background-secondary-dark: var(--ref-color-secondary-30);
  --systeme-color-background-primary-dark2: var(--ref-color-primary-80);
  --systeme-color-background-secondary-lighter: var(--ref-color-secondary-5);
  --systeme-color-background-primary-lighter2: var(--ref-color-primary-30);
  --systeme-color-background-secondary-light: var(--ref-color-secondary-10);
  --systeme-color-background-primary-light2: var(--ref-color-primary-50);
  --systeme-color-background-secondary-basic: var(--ref-color-secondary-20);
  --systeme-color-background-primary-basic-2: var(--ref-color-primary-70);
  --systeme-color-background-secondary-darker: var(--ref-color-secondary-50);
  --systeme-color-background-confirmed: var(--ref-color-green-70);
  --systeme-color-background-warning: var(--ref-color-yellow-50);
  --systeme-color-background-error: var(--ref-color-red-70);
  --systeme-color-background-primary-darker-2: var(--ref-color-primary-90);
  --systeme-color-background-primary-bright: var(--ref-color-primary-5);
  --systeme-color-text-basic: var(--ref-color-cool_neutral-90);
  --systeme-color-text-light: var(--ref-color-cool_neutral-70);
  --systeme-color-text-lighter: var(--ref-color-cool_neutral-60);
  --systeme-color-text-bright: var(--ref-color-cool_neutral-30);
  --systeme-color-text-warning: var(--ref-color-yellow-50);
  --systeme-color-text-inverse: var(--ref-color-common-0);
  --systeme-color-text-primary: var(--ref-color-primary-70);
  --systeme-color-text-secondary: var(--ref-color-secondary-20);
  --systeme-color-text-confirmed: var(--ref-color-green-70);
  --systeme-color-text-primary-light: var(--ref-color-primary-20);
  --systeme-color-text-secondary-light: var(--ref-color-secondary-10);
  --systeme-color-text-primary-dark: var(--ref-color-primary-90);
  --systeme-color-text-secondary-dark: var(--ref-color-secondary-50);
  --systeme-color-text-error: var(--ref-color-red-60);
  --systeme-color-border-basic: var(--ref-color-cool_neutral-30);
  --systeme-color-border-light: var(--ref-color-cool_neutral-20);
  --systeme-color-border-lighter: var(--ref-color-cool_neutral-10);
  --systeme-color-border-dark: var(--ref-color-cool_neutral-50);
  --systeme-color-border-darker: var(--ref-color-cool_neutral-60);
  --systeme-color-border-primary: var(--ref-color-primary-70);
  --systeme-color-border-secondary: var(--ref-color-secondary-40);
  --systeme-color-border-confirmed: var(--ref-color-green-70);
  --systeme-color-border-inverse: var(--ref-color-common-0);
  --systeme-color-border-warning: var(--ref-color-yellow-50);
  --systeme-color-border-error: var(--ref-color-red-70);
  --systeme-color-border-extreme: var(--ref-color-cool_neutral-90);
  --systeme-color-border-primary-light: var(--ref-color-primary-60);
  --systeme-color-border-primary-dark: var(--ref-color-primary-90);
  --systeme-color-border-secondary-light: var(--ref-color-secondary-30);
  --systeme-color-border-secondary-dark: var(--ref-color-secondary-60);
  --systeme-font-size-heading-1: var(--ref-number-16);
  --systeme-font-size-heading-2: var(--ref-number-14);
  --systeme-font-size-heading-3: var(--ref-number-12);
  --systeme-font-size-heading-4: var(--ref-number-11);
  --systeme-font-size-heading-5: var(--ref-number-9);
  --systeme-font-size-display-1: var(--ref-number-20);
  --systeme-font-size-display-2: var(--ref-number-17);
  --systeme-font-size-display-3: var(--ref-number-15);
  --systeme-font-size-label-1: var(--ref-number-11);
  --systeme-font-size-label-2: var(--ref-number-10);
  --systeme-font-size-label-3: var(--ref-number-9);
  --systeme-font-size-label-4: var(--ref-number-8);
  --systeme-font-size-body-1: var(--ref-number-11);
  --systeme-font-size-body-2: var(--ref-number-10);
  --systeme-font-size-body-3: var(--ref-number-9);
  --systeme-font-size-body-4: var(--ref-number-8);
  --systeme-radius-xxlarge: var(--ref-number-7);
  --systeme-radius-large: var(--ref-number-5);
  --systeme-radius-xlarge: var(--ref-number-6);
  --systeme-radius-medium: var(--ref-number-4);
  --systeme-radius-max: var(--ref-number-max);
  --systeme-radius-small: var(--ref-number-3);
  --systeme-radius-xsmall: var(--ref-number-2);
  --systeme-gap-1: var(--ref-number-2);
  --systeme-gap-2: var(--ref-number-3);
  --systeme-gap-3: var(--ref-number-5);
  --systeme-gap-4: var(--ref-number-7);
  --systeme-gap-5: var(--ref-number-8);
  --systeme-gap-6: var(--ref-number-9);
  --systeme-gap-7: var(--ref-number-10);
  --systeme-gap-8: var(--ref-number-12);
  --systeme-gap-9: var(--ref-number-14);
  --systeme-gap-10: var(--ref-number-16);
  --systeme-gap-11: var(--ref-number-18);
  --systeme-gap-12: var(--ref-number-20);
  --systeme-padding-1: var(--ref-number-2);
  --systeme-padding-2: var(--ref-number-3);
  --systeme-padding-3: var(--ref-number-5);
  --systeme-padding-4: var(--ref-number-6);
  --systeme-padding-5: var(--ref-number-7);
  --systeme-padding-6: var(--ref-number-8);
  --systeme-padding-7: var(--ref-number-9);
  --systeme-padding-8: var(--ref-number-10);
  --systeme-padding-9: var(--ref-number-12);
  --systeme-padding-10: var(--ref-number-13);
  --systeme-padding-11: var(--ref-number-14);
  --com-button-color-color: #ffffff;
  --com-button-color-background-primary: var(
    --systeme-color-background-primary-basic
  );
  --com-button-color-background-primary-light: var(
    --systeme-color-background-primary-light
  );
  --com-button-color-background-primary-dark: var(
    --systeme-color-background-primary-darker
  );
  --com-button-color-background-light: var(--systeme-color-background-light);
  --com-button-color-background-error: var(--systeme-color-background-error);
  --com-button-color-background-secondary-dark: var(
    --systeme-color-background-secondary-dark
  );
  --com-button-color-background-secondary-light: var(
    --systeme-color-background-secondary-light
  );
  --com-button-color-background-secondary: var(
    --systeme-color-background-secondary-basic
  );
  --com-button-color-background-confirmed: var(
    --systeme-color-background-confirmed
  );
  --com-button-color-background-warning: var(
    --systeme-color-background-warning
  );
  --com-button-color-background-lighter: var(
    --systeme-color-background-lighter
  );
  --com-button-color-background-primary-lighter: var(
    --systeme-color-background-primary-lighter
  );
  --com-button-color-background-primary-bright: var(
    --systeme-color-background-primary-bright
  );
  --com-button-color-background-secondary-lighter: var(
    --systeme-color-background-secondary-lighter
  );
  --com-button-color-border-primary: var(--systeme-color-border-primary);
  --com-button-color-border-secondary: var(--systeme-color-border-secondary);
  --com-button-color-border-basic: var(--systeme-color-border-extreme);
  --com-button-color-border-primary-light: var(
    --systeme-color-border-primary-light
  );
  --com-button-color-border-primary-dark: var(
    --systeme-color-border-primary-light
  );
  --com-button-color-border-secondary-light: var(
    --systeme-color-border-secondary-light
  );
  --com-button-color-border-secondary-dark: var(
    --systeme-color-border-secondary-dark
  );
  --com-button-color-text-secondary: var(--systeme-color-text-secondary);
  --com-button-color-text-primary-light: var(
    --systeme-color-text-primary-light
  );
  --com-button-color-text-light: var(--systeme-color-text-light);
  --com-button-color-text-confirmed: var(--systeme-color-text-confirmed);
  --com-button-color-text-primary: var(--systeme-color-text-primary);
  --com-button-color-text-secondary-light: var(
    --systeme-color-text-secondary-light
  );
  --com-button-color-text-error: var(--systeme-color-text-error);
  --com-button-color-text-basic: var(--systeme-color-text-basic);
  --com-button-color-text-primary-dark: var(--systeme-color-text-primary-dark);
  --com-button-color-text-bright: var(--systeme-color-text-bright);
  --com-button-color-text-inverse: var(--systeme-color-text-inverse);
  --com-button-color-text-warning: var(--systeme-color-text-warning);
  --com-button-color-text-secondary-dark: var(
    --systeme-color-text-secondary-dark
  );
  --com-button-color-text-lighter: var(--systeme-color-text-lighter);
  --com-button-typo-color: #ffffff;
  --com-button-size-color: #ffffff;
  --com-button-size-large: "large";
  --com-button-size-height-large: var(--number-19);
  --com-button-size-height-medium: var(--number-18);
  --com-button-size-height-small: var(--number-15);
  --com-button-size-padding-horizontal-large: var(--systeme-padding-11);
  --com-button-size-padding-vertical-large: var(--systeme-padding-7);
  --com-button-size-padding-vertical-medium: var(--systeme-padding-5);
  --com-button-size-padding-horizontal-medium: var(--systeme-padding-10);
  --com-button-size-padding-horizontal-small: var(--systeme-padding-9);
  --com-button-size-padding-vertical-small: var(--systeme-padding-3);
}
